[Unit]
Description=Service that grows the root partition
Before=first-boot-complete.target
ConditionPathExists=!/etc/seabot-firstboot
[Service]
Type=oneshot
ExecStart=/usr/bin/seabot-growfs.sh
[Install]
WantedBy=multi-user.target